[flake8]
max-line-length = 120
color = auto
extend-ignore =
    BLK100
    C417
    D400
    E203
    E266
    E302
    I001
    Q000
    T002
    WPS201
    WPS202
    WPS305
    WPS326
    PT011
per-file-ignores =
    libs/requires/tests/test_requires.py:F821
    libs/requires/tests/test_requires_w_json_libs.py:F821
    libs/*/tests/test_version.py:E741
    libs/*/noxfile.py:E741
    # path/to/file.py:E501,W605,W293,W291,XXX
exclude =
    .tox,
    __pycache__,
    .nox,
    .nox_win,
    .nox_lin,
    .venv*
    f.py
