[run]
branch = True
omit =
        *tests*
        *__init__*

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    if 0:
    if __name__ == .__main__.:
    if sys.version_info < (3, 7):

[html]
directory = coverage_html_report
